.mainBlock {
    width: 500px;
    height: 400px;
    border: 1px solid;
    position: relative;
    margin-bottom: 50px;
}
.box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
}
.Start {
    font-size: 20px;
}
.Stop {
    font-size: 20px;
}